.block-img {
  max-width: 650px;
}

.elem[id="1"] {
  top: 38px;
  left: 112px;
  max-width: 110px;
}

.elem[id="2"] {
  top: 38px;
  left: 240px;
  max-width: 110px;
}

.elem[id="3"] {
  top: 230px;
  left: 20px;
  max-width: 110px;
}

.elem[id="4"] {
  top: 330px;
  left: 20px;
  max-width: 110px;
}

.elem[id="5"] {
  top: 330px;
  left: 100px;
  max-width: 110px;
}

.elem[id="6"] {
  top: 330px;
  left: 147px;
  max-width: 110px;
}

.elem[id="7"] {
  top: 330px;
  left: 195px;
  max-width: 110px;
}

.elem[id="8"] {
  top: 330px;
  left: 265px;
  max-width: 110px;
}

.elem[id="9"] {
  top: 330px;
  left: 320px;
  max-width: 110px;
}

.elem[id="10"] {
  top: 330px;
  left: 395px;
  max-width: 110px;
}

.elem[id="11"] {
  top: 330px;
  left: 440px;
  max-width: 110px;
}

.elem[id="12"] {
  top: 330px;
  left: 485px;
  max-width: 110px;
}

.elem[id="13"] {
  top: 630px;
  left: 20px;
  max-width: 110px;
}

.elem[id="14"] {
  top: 630px;
  left: 78px;
  max-width: 110px;
}

.elem[id="15"] {
  top: 630px;
  left: 132px;
  max-width: 110px;
}

.elem[id="16"] {
  top: 630px;
  left: 190px;
  max-width: 110px;
}

.elem[id="17"] {
  top: 630px;
  left: 345px;
  max-width: 110px;
}

.elem[id="18"] {
  top: 630px;
  left: 400px;
  max-width: 110px;
}

.elem[id="19"] {
  top: 630px;
  left: 460px;
  max-width: 110px;
}

.elem[id="20"] {
  top: 630px;
  left: 515px;
  max-width: 110px;
}

.elem[id="21"] {
  top: 690px;
  left: 255px;
  max-width: 110px;
}

.elem[id="22"] {
  top: 740px;
  left: 255px;
  max-width: 110px;
}

.elem[id="23"] {
  top: 810px;
  left: 255px;
  max-width: 110px;
}

.elem[id="24"] {
  top: 890px;
  left: 255px;
  max-width: 110px;
}

.elem[id="25"] {
  top: 690px;
  left: 320px;
  max-width: 110px;
}

.elem[id="26"] {
  top: 740px;
  left: 320px;
  max-width: 110px;
}

.elem[id="27"] {
  top: 810px;
  left: 320px;
  max-width: 110px;
}

.elem[id="28"] {
  top: 890px;
  left: 320px;
  max-width: 110px;
}

.elem[id="29"] {
  top: 690px;
  left: 548px;
  max-width: 110px;
}

.elem[id="30"] {
  top: 740px;
  left: 548px;
  max-width: 110px;
}

.elem[id="31"] {
  top: 810px;
  left: 548px;
  max-width: 110px;
}

.elem[id="32"] {
  top: 890px;
  left: 548px;
  max-width: 110px;
}

.elem[id="33"] {
  top: 80px;
  left: 490px;
  max-width: 40px;
}

.elem[id="34"] {
  top: 80px;
  left: 490px;
  max-width: 40px;
}

.elem[id="35"] {
  top: 240px;
  left: 545px;
  max-width: 40px;
}

.elem[id="36"] {
  top: 980px;
  left: 100px;
  max-width: 35px;
}

.elem[id="37"] {
  top: 980px;
  left: 142px;
  max-width: 35px;
}

.elem[id="38"] {
  top: 980px;
  left: 184px;
  max-width: 35px;
}

.elem[id="39"] {
  top: 980px;
  left: 226px;
  max-width: 35px;
}

.elem[id="40"] {
  top: 980px;
  left: 480px;
  max-width: 35px;
}

.elem[id="41"] {
  top: 980px;
  left: 530px;
  max-width: 35px;
}

.elem[id="42"] {
  top: 1220px;
  left: 160px;
  max-width: 40px;
}

.elem[id="43"] {
  top: 48px;
  left: 380px;
  max-width: 90px;
}

.elem[id="44"] {
  top: 1135px;
  left: 470px;
  max-width: 90px;
}

.elem[id="45"] {
  top: 1220px;
  left: 470px;
  max-width: 90px;
}

.elem[id="46"] {
  top: 255px;
  left: 135px;
  max-width: 90px;
  -webkit-transform: rotate(125deg);
          transform: rotate(125deg);
}

.elem[id="47"] {
  top: 255px;
  left: 290px;
  max-width: 90px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.elem[id="48"] {
  top: 255px;
  left: 430px;
  max-width: 90px;
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
}

.elem[id="49"] {
  top: 415px;
  left: 160px;
  max-width: 80px;
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
}

.elem[id="50"] {
  top: 415px;
  left: 310px;
  max-width: 80px;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.elem[id="51"] {
  top: 415px;
  left: 455px;
  max-width: 80px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.elem[id="52"] {
  top: 1080px;
  left: 140px;
  max-width: 80px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.elem[id="53"] {
  top: 1080px;
  left: 335px;
  max-width: 80px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.elem[id="54"] {
  top: 1205px;
  left: 340px;
  max-width: 80px;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.elem[id="55"] {
  top: 380px;
  left: 40px;
  max-width: 70px;
}

.elem[id="56"] {
  top: 430px;
  left: 150px;
  max-width: 70px;
}

.elem[id="57"] {
  top: 430px;
  left: 225px;
  max-width: 70px;
}

.elem[id="58"] {
  top: 430px;
  left: 300px;
  max-width: 70px;
}

.elem[id="59"] {
  top: 430px;
  left: 400px;
  max-width: 70px;
}

.elem[id="60"] {
  top: 400px;
  left: 550px;
  max-width: 70px;
}

.elem[id="61"] {
  top: 500px;
  left: 40px;
  max-width: 70px;
}

.elem[id="62"] {
  top: 500px;
  left: 150px;
  max-width: 70px;
}

.elem[id="63"] {
  top: 500px;
  left: 225px;
  max-width: 70px;
}

.elem[id="64"] {
  top: 500px;
  left: 300px;
  max-width: 70px;
}

.elem[id="65"] {
  top: 500px;
  left: 400px;
  max-width: 70px;
}

.elem[id="66"] {
  top: 500px;
  left: 550px;
  max-width: 70px;
}

.elem[id="67"] {
  top: 680px;
  left: 40px;
  max-width: 70px;
}

.elem[id="68"] {
  top: 680px;
  left: 120px;
  max-width: 70px;
}

.elem[id="69"] {
  top: 680px;
  left: 200px;
  max-width: 70px;
}

.elem[id="70"] {
  top: 740px;
  left: 40px;
  max-width: 70px;
}

.elem[id="71"] {
  top: 740px;
  left: 120px;
  max-width: 70px;
}

.elem[id="72"] {
  top: 740px;
  left: 200px;
  max-width: 70px;
}

.elem[id="73"] {
  top: 800px;
  left: 40px;
  max-width: 70px;
}

.elem[id="74"] {
  top: 800px;
  left: 120px;
  max-width: 70px;
}

.elem[id="75"] {
  top: 800px;
  left: 200px;
  max-width: 70px;
}

.elem[id="76"] {
  top: 860px;
  left: 40px;
  max-width: 70px;
}

.elem[id="77"] {
  top: 860px;
  left: 120px;
  max-width: 70px;
}

.elem[id="78"] {
  top: 860px;
  left: 200px;
  max-width: 70px;
}

.elem[id="79"] {
  top: 680px;
  left: 420px;
  max-width: 70px;
}

.elem[id="80"] {
  top: 680px;
  left: 500px;
  max-width: 70px;
}

.elem[id="81"] {
  top: 740px;
  left: 420px;
  max-width: 70px;
}

.elem[id="82"] {
  top: 740px;
  left: 500px;
  max-width: 70px;
}

.elem[id="83"] {
  top: 800px;
  left: 420px;
  max-width: 70px;
}

.elem[id="84"] {
  top: 800px;
  left: 500px;
  max-width: 70px;
}

.elem[id="85"] {
  top: 860px;
  left: 420px;
  max-width: 70px;
}

.elem[id="86"] {
  top: 860px;
  left: 500px;
  max-width: 70px;
}

.elem[id="87"] {
  top: 205px;
  left: 40px;
  max-width: 40px;
}

.elem[id="88"] {
  top: 205px;
  left: 65px;
  max-width: 40px;
}
/*# sourceMappingURL=blockFR382.css.map */